* {
 box-sizing: border-box;
}
.body {
 background-color: #e6e2e1;
}

/*Nav Bar*/

.nav-flex {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 width: 100%;
 height: 200px;
 vertical-align: middle;
}
.sign {
 background-color: #3665d9;
 font-size: 15px;
 font-family: Georgia, "Times New Roman", Times, serif;
 color: white;
 margin: 4px;
 border-radius: 5px;
 border: 1px solid black;
 width: 110px;
 height: 35px;
}
#block{
	margin-right: 6px;
}
.nav-align p a {
 color: #33ace8;
 text-decoration: none;
}
.nav-align p {
 padding: 0px;
 margin: 2px;
}

/* form section */

.main-col {
 width: 100%;
 height: 100%;
 margin-top: -320px;
}
.flex-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.form {
 background-color: white;
 width: 380px;
 height: auto;
 margin-top: -190px;
 border: 1px solid grey;
 border-radius: 3px;
}
.intuit-logo {
 width: 600px;
 height: 500px;
 margin: 0px;
}
.h4-header {
 color: #5c5958;
 font-family: Georgia, "Times New Roman", Times, serif;
 font-size: 25px;
 font-weight: lighter;
 text-align: center;
 padding-top: 5px;
}
.form p {
 color: #858382;
 font-family: Georgia, "Times New Roman", Times, serif;
 font-size: 14px;
 font-weight: lighter;
 text-align: center;
 padding-left: 25px;
 padding-right: 25px;
 margin-top: -15px;
}
.form a {
 align-items: center;
 font-size: 12px;
 text-decoration: none;
}
a:hover {
 color: #33ace8;
}
a:link {
 color: #33ace8;
}
a:visited {
 color: #858382;
}
.account-info {
 align-items: center;
 border: hidden;
}
.account-info label {
 cursor: pointer;
 color: #575551;
 padding-top: 10px;
 padding-bottom: 10px;
}
.account-info input {
 border: 1px solid #c6c9cc;
 border-radius: 5px;
 color: #888;
 display: block;
 margin: 5px 0 27px 0;
 padding: 5px 8px;
 width: 100%;
}

.account-info input[type="email"] {
 padding-left: 10px;
 padding-bottom: 8px;
 margin-bottom: 6px;
}
.account-info input[type="tel"] {
 padding-bottom: 8px;
 padding-left: 10px;
}
.account-info input[type="text"] {
 padding-bottom: 8px;
 padding-left: 10px;
}
.account-info h5 {
 margin-top: -20px;
 font-weight: lighter;
 color: #615f5c;
}
.btn {
 border: 1px solid #c6c9cc;
 border-radius: 5px;
 width: 100%;
 margin: 5px 5px 27px 0px;
 padding: 5px 8px;
 background-color: #3665d9;
 color: white;
}
#lock{
	padding-right: 7px;
	color: white;
}
.account-info button {
 padding-bottom: 8px;
 padding-left: 10px;
}
.form-footer {
 font-size:12px;
 text-align: center;
 padding: 20px 25px;
 color: #7a7968;
 font-weight: lighter;
 background-color: #e0dfd5;
}

/* footer */

.flex-footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.linked-footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}
.legal{
	padding-right: 12px;
}
.privacy{
	padding-right: 12px;
}
.para-footer{
	align-items: center;
	font-weight: lighter;
	font-size: 12px;
}
.lowest-footer{
	padding-left: 70px;
	margin-top: -8px;
}

/*Media Queries*/

@media screen and (max-width: 768px) {
 .nav-flex {
  visibility: hidden;
 }
 .main-col {
  margin-top: -380px;
 }
.lowest-footer{
	padding-left: 0px;
	margin-top: -8px;
}
}

